<div class="container">
	<div class="text-center">
		<div class="jumbotron">
	    	<h1>Simple App with SailsJS</h1>
	    	<h3>Powered by Furlan Francesco & Mio Ludovico</h3>
	    	<a href="#" class="btn btn-lg btn-success">Sign up or Log in</a>
	  	</div>
  	</div>
</div>
