<!DOCTYPE html>
<html>
  <head>
    <title>Simple App with SailsJs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body>
    <%- body %>
    <script src="/js/dependencies/sails.io.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
  </body>
</html>
